[package]
name = "cosmic_ray_detection"
version = "4.0.0"
edition = "2021"
authors = ["Johanna Sörngård (jsorngard@gmail.com)"]

[dependencies]
clap = { version = "4.1", features = ["derive"] }
humantime = "2.1.0"
rayon = {version = "1.6", optional = true}
sysinfo = {version = "0.28.3", default_features = false}

[features]
# Enable this feature to run all memory reads and writes in parallel.
rayon = ["dep:rayon", "sysinfo/multithread"]